<html>

<head>
	<title>{{title or 'Sistema Login'}}</title>

	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<!--<link rel="stylesheet" type="text/css" href="dataTables.bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="bootstrap-table.min.css">
	<link rel="stylesheet" type="text/css" href="jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" href="icone.png">
</head>

<body>
	<div class="container">
		{{!base}}
	</div>
	<div class="button-filter rotatereverse">+</div>
	<div class="form-inline box-filter" tabindex="0">
		<div class="checkbox" id='hide-zero'>
			<label>
      	<input type="checkbox">Esconder Zerados
    	</label>
		</div>
		<div class="checkbox" id='get-data'>
			<label>
      	<input type="checkbox">Exibir Valores
    	</label>
		</div>
	</div>

	<div id="messages">
		<p>Apenas um teste</p>
	</div>

	<script src="jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="bootstrap-table-export.js" type="text/javascript" charset="utf-8"></script>
	<script src="tableExport.js" type="text/javascript" charset="utf-8"></script>
	<!-- put your locale files after bootstrap-table.js -->
	<!--<script src="locale/bootstrap-table-pt-BR.min.js"></script>-->

	<!--<script src="jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>-->
	<!--<script src="dataTables.bootstrap.min.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="script.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
