<html>

<head>
	<title>{{title or 'Sistema Login'}}</title>

	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dataTables.bootstrap.min">
	<link rel="icon" href="icone.png">

	<script type="text/javascript" charset="utf-8" src="login.js"></script>
</head>

<body>
	<div class="container">
		<div class="col-md-12">
			{{!base}}
		</div>
	</div>

	<script src="jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="dataTables.bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(document).ready(function() {
			$('#example').DataTable();
		});
	</script>
</body>

</html>
