<div class="col-md-12 mg-top form">
    <div class="button" id="hide">hide</div>
    <div class="page-header">
        <h1>Inventarios Stoky <small>Correção de inventarios feitos no WMS para o CISS.</small></h1>
    </div>
    <form class="form-inline" id="my-form">
        <div class="form-group">
            <label for="data-inicial">Data Inicial</label>
            <input type="date" class="form-control" id="data-inicial">
        </div>
        <div class="form-group">
            <label for="data-final">Data Final</label>
            <input type="date" class="form-control" id="data-final">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
    </form>
</div>
