<table id="mytable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-field="codigo" data-sortable="true">Cod.</th>
            <th data-field="descricao" data-sortable="true">Descrição</th>
            <th data-field="marca" data-sortable="true">Marca</th>
            <th data-field="saldo" data-sortable="true">Saldo</th>
            <th data-field="state" data-checkbox="true"></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
    </tbody>
</table>
