<div id="toolbar">
    <select class="form-control">
    <option value="">Export Basic</option>
    <option value="all">Export All</option>
    <option value="selected">Export Selected</option>
  </select>
</div>
<table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-toolbar="#toolbar" data-show-export="true"
    data-minimum-count-columns="2" data-show-pagination-switch="true" data-page-list="[25, 50, 100, ALL]">
    <thead>
        <tr>
            <th data-field="codigo" data-sortable="true">Cod.</th>
            <th data-field="descricao" data-sortable="true">Descrição</th>
            <th data-field="marca" data-sortable="true">Marca</th>
            <th data-field="saldo" data-sortable="true">Saldo</th>
            <th data-field="state" data-checkbox="true"></th>
        </tr>
    </thead>
    <tbody>
        %for prod in produtos:
        <tr>
            <td>{{ prod.id }}</td>
            <td>{{ prod.descricao.capitalize() }}</td>
            <td>{{ prod.fabricante }}</td>
            <td class="saldo">0</td>
            <td></td>
        </tr>
        %end
    </tbody>
    </table>
